html {
    scroll-behavior: smooth;
    font-size: $mainFontSize;
}

body {
    font-family: $mainFontFamily;
    font-style: $mainFontStyle;
    font-weight: $mainFontWeight;
    line-height: $mainLineHeight;
    color: $primaryText;
    background-color: $primaryColor;
}

.container {
    max-width: $container;
    padding: 0 $containerPadding;
    margin: 0 auto;
}

a {
    color: inherit;
    transition: 0.3s;

    &:hover {
        color: $accentColor;
    }
}

h1 {
    font-size: $h1FontSize;
}

h2 {
    font-size: $h2FontSize;
}

h3 {
    font-size: $h3FontSize;
}

h4 {
    font-size: $h4FontSize;
}

h5 {
    font-size: $h5FontSize;
}

h6 {
    font-size: $h6FontSize;
}

img {
    user-select: none;
}

*::selection {
    color: $darkPrimaryColor;
    background-color: $lightPrimaryColor;
}

::-webkit-scrollbar {
    width: $scrollbarWidth;
}

::-webkit-scrollbar-track {
    background: $primaryColor;
}

::-webkit-scrollbar-thumb {
    background: $lightPrimaryColor;
    border-radius: $scrollbarBorderRadius;
}

::-moz-scrollbar {
    width: $scrollbarWidth;
}

::-moz-scrollbar-track {
    background: $primaryColor;
}

::-moz-scrollbar-thumb {
    background: $lightPrimaryColor;
    border-radius: $scrollbarBorderRadius;
}
